RMI/src/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://api.etfbl.net" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://api.etfbl.net" xmlns:intf="http://api.etfbl.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://api.etfbl.net" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="register">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="surname" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="UUID" type="xsd:long"/>
      <element name="blocked" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerResponse">
    <complexType>
     <sequence>
      <element name="registerReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="unregister">
    <complexType>
     <sequence>
      <element name="token" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="unregisterResponse">
    <complexType>
     <sequence>
      <element name="unregisterReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="isValid">
    <complexType>
     <sequence>
      <element name="token" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="isValidResponse">
    <complexType>
     <sequence>
      <element name="isValidReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="logout">
    <complexType>
     <sequence>
      <element name="token" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="logoutResponse">
    <complexType>
     <sequence>
      <element name="logoutReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="login">
    <complexType>
     <sequence>
      <element name="token" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="blockUser">
    <complexType>
     <sequence>
      <element name="token" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="blockUserResponse">
    <complexType>
     <sequence>
      <element name="blockUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="isValidResponse">

      <wsdl:part element="impl:isValidResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unregisterRequest">

      <wsdl:part element="impl:unregister" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isValidRequest">

      <wsdl:part element="impl:isValid" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="blockUserRequest">

      <wsdl:part element="impl:blockUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutResponse">

      <wsdl:part element="impl:logoutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="blockUserResponse">

      <wsdl:part element="impl:blockUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unregisterResponse">

      <wsdl:part element="impl:unregisterResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerResponse">

      <wsdl:part element="impl:registerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerRequest">

      <wsdl:part element="impl:register" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutRequest">

      <wsdl:part element="impl:logout" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="register">

         <wsdl:input message="impl:registerRequest" name="registerRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerResponse" name="registerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unregister">

         <wsdl:input message="impl:unregisterRequest" name="unregisterRequest">

       </wsdl:input>

         <wsdl:output message="impl:unregisterResponse" name="unregisterResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isValid">

         <wsdl:input message="impl:isValidRequest" name="isValidRequest">

       </wsdl:input>

         <wsdl:output message="impl:isValidResponse" name="isValidResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdl:input message="impl:logoutRequest" name="logoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:logoutResponse" name="logoutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="blockUser">

         <wsdl:input message="impl:blockUserRequest" name="blockUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:blockUserResponse" name="blockUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="register">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unregister">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="unregisterRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="unregisterResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isValid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isValidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isValidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logoutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logoutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="blockUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="blockUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="blockUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/SOAP/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
